@import url("https://fonts.googleapis.com/css?family=Almarai&display=swap");

.navbar {
  background-color: #009933;
  font-family: "Almarai", sans-serif;
  font-size: 30px;
  width: 100%;

  .NavbarBrand,
  a {
    color: white;
  }
}
.Pagefooter {
  background-color: #009933;
  text-align: center;
  color: white;
  .container {
    padding: 2% 0 2% 0;
  }
  svg {
    margin-left: 10px;
    margin-bottom: 10px;
  }
}
